# Dependencies
node_modules

# Build output
# Note: Remove "docs" from gitignore if deploying to GitHub Pages
dist
# docs

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo
*~
